@{
    ViewData["Title"] = "Catalog";
}
@section Scripts {
    <script>
        async function addToCart(_diskId) {
            let params = {
                diskId: _diskId,
                username: '@ViewData["Username"]'
            };
            var response = await fetch(`https://localhost:7091/api/ShoppingCartAPI/AddToShoppingCart/${_diskId}/@User.Identity.Name`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=urf-8'
                },
                body: JSON.stringify(params)
            });
            if (response.status == 200) {
                document.getElementById("addToCartButton-"+_diskId).innerText = "✓";
            }
        }
    </script>
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered">
    @foreach (var disk in Model)
    {
        <tr>
            <td>@disk.Id</td>      
            <td>@disk.Manufacturer</td>
            <td>@disk.Model</td>
            <td>@disk.Type</td>
            <td>@disk.Capacity</td>
            <td>@disk.ReadSpeed</td>
            <td>@disk.WriteSpeed</td>
            <td>@disk.Cost</td>
            @if (User.Identity.IsAuthenticated)
            {
                @if (ViewData["Role"].ToString() == "User")
                {
                    <td><button class="button" onclick=addToCart(@disk.Id) id="addToCartButton-@disk.Id">Добавить в корзину</button></td>
                }
            }
        </tr>
    }
</table>


