@{
    ViewData["Title"] = "Catalog";
}
@using CRUDWithAccounts.Database.Entity

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered">
    @foreach (var disk in Model)
    {
        <tr>
            <td>@disk.Id</td>      
            <td>@disk.Manufacturer</td>
            <td>@disk.Model</td>
            <td>@disk.Type</td>
            <td>@disk.Capacity</td>
            <td>@disk.ReadSpeed</td>
            <td>@disk.WriteSpeed</td>
            <td>@disk.Cost</td>
        </tr>
    }
</table>

